<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

<!--&lt;!&ndash;注入spring容器中&ndash;&gt;-->
<!--<bean id="UserService" class="org.example.springdemo.service.impl.UserServiceImpl">-->
<!--    <property name="userDao" ref="userDao"></property>-->
<!--</bean>-->

<!--&lt;!&ndash;引用userDao&ndash;&gt;-->
<!--  <bean id="userDao" class="org.example.springdemo.dao.impl.UserDaoImpl"></bean>-->



<bean id="UserEntity" class="org.example.springdemo.model.UserEntity"></bean>
</beans>